# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
flutter_*.png

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
